/*col*/
.col-sx-1{
    width: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}
.col-sx-2{
    width: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}
.col-sx-3{
    width: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}
.col-sx-4{
    width: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}
.col-sx-5{
    width: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}
.col-sx-6{
    width: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}
.col-sx-7{
    width: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}
.col-sx-8{
    width: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}
.col-sx-9{
    width: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}
.col-sx-10{
    width: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}
.col-sx-11{
    width: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}
.col-sx-12{
    width: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}


/*offset*/
.offset-sx-1{
    width: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}
.offset-sx-2{
    width: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}
.offset-sx-3{
    width: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}
.offset-sx-4{
    width: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}
.offset-sx-5{
    width: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}
.offset-sx-6{
    width: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}
.offset-sx-7{
    width: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}
.offset-sx-8{
    width: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}
.offset-sx-9{
    width: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}
.offset-sx-10{
    width: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}
.offset-sx-11{
    width: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}
.offset-sx-12{
    width: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}